body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

/* headings  */

.big-heading {
  font-family: "Montserrat-black", sans-serif;
  font-weight: bold;
  font-size: 3.8rem;
  line-height: 1.5;
  color: #fff;
}

/* containers */

.container-fluid {
    padding: 5% 10%;
}

/* sections */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
}

/* navigation bar  */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title section  */

#title {

  text-align: left;
}
/* title image */

.title-img {
    width: 60%;
    transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* features section*/
#features {
  padding: 7% 10%;
  background-color: #fff;
  position: relative;
}
.features-class {
  padding: 5%;
  font-size: 0.9rem;
}
#features h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.icon {
  color: #e45a48;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #cc2740;
}

/* testimonial section  */

#testimonials {
  background-color: #e45a48e5;
}
#testimonials h2 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 2.8rem;
}
.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 13%;
}
/* press section */

#press {
  background-color: #e45a48e5;

  padding-bottom: 3%;
}
.press-logo {
  width: 13%;
  margin: 20px 20px 50px;
}

/* pricing section  */
#pricing {
  padding: 80px;
}
.card {
  background-color: rgba(216, 191, 216, 0.733);
}
#pricing h2 {
  font-weight: bold;
  font-size: 2.5rem;
}
#pricing h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.pricing-column {
  padding: 3% 2%;
}

/* call to action */
#cta {

  padding: 9% 13%;
}

/* contact */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.contact-items {
  list-style: none;
  text-decoration: none;
  padding: 115px 7px 10px;
  color: black;
}
footer {
  color: white;
  background-color: black;
  padding: 1px;
}
footer p {
  margin-top: 15px;
  font-size: 1rem;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    margin-top: 10px;
  }

  #features {
    background-color: rgba(245, 222, 179, 0.568);
  }
  #pricing {
    background-color: rgba(245, 222, 179, 0.774);
  }
  .card {
    background-color: rgba(216, 191, 216, 0.733);
  }
}
